// Widget Header
.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

.widget-header {
  background: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}

.widget__message {
  border-bottom: 0.1rem solid lighten($light-blue, 10%);
  color: $off-white;
  text-align: center;
  margin: 0;
  padding: $l-size;
}

.widget-footer {
  padding: $m-size;
}

// .widget-footer__option {
//   background: $dark-blue;
//   border: none;
//   border-bottom: 0.3rem solid darken($dark-blue, 10%);
//   color: white;
//   padding: $s-size;
//   width: 30rem;
// }

// .widget-body__item {
//   color: $off-white;
//   border-bottom: 0.1rem solid lighten($light-blue, 10%);
//   display: flex;
//   justify-content: space-between;
//   padding: $s-size;
// }
